# Server
PORT=5000

# MongoDB
MONGO_URI=

# JWT Authentication
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email / OTP
EMAIL_USER=
EMAIL_PASS=
OTP_EXPIRY_MINUTES=10