# Environment / Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Temporary files
*.tmp
*.temp
*.bak